<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="display: flex; flex-direction: column; gap: 25px">
      <form method="POST" action="http://127.0.0.1:5000/login">
        <input type="text" name="username" placeholder="Введи ник" />
        <input type="text" name="password" placeholder="Введи пароль" />
        <button type="submit">POST Запрос</button>
      </form>

      <form method="GET" action="http://127.0.0.1:5000/login">
        <input type="text" name="username" placeholder="Введи ник" />
        <input type="text" name="password" placeholder="Введи пароль" />
        <button type="submit">GET Запрос</button>
      </form>
    </div>
  </body>
</html>
